/*폰트*/
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/*초기화*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/*메인*/

#main {
  margin: auto;
  width: 100%;
}
/*메인 배경*/
#main > .main_banner {
  margin: auto;
  width: 1920px;
  height: 300px;
  background:url(../img/menu_bg.jpg) center / cover;
  margin-bottom: 100px;
}

/*메인 바 시작*/
#main > .menu {
  margin: auto;
  max-width: 1200px;
  height: 100%;
  text-align: center;
}

/*메인 바 텍스트*/
.menu > .menu_textBox{
  color: #111;
}
.menu_textBox > h1{
  margin-bottom: 15px;
}
.menu_textBox  b {
  color: #888;
}

.menu_textBox p {
  margin-top: 20px;
  border: 1px solid #212121;
  font-size: 20px;
  display: inline-block;
  padding: 15px;
}

/*메뉴바 정렬*/

.menu_nav {
  width: 100%;
  margin: 80px auto;
  box-shadow: 0 4px 4px -4px black;
}

.menu_nav > ul {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: space-between;

}

.menu_nav > ul > li {
  color: #7f0c05;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*메뉴 정렬*/


.food {
  margin: auto;
  width: 1200px;
}

.foodnav {
  text-align: left;
  margin-bottom: 60px;
}
.foodnav > h2 {
  margin-bottom: 100px;
  border-bottom: 1px solid black;
  padding: 30px 0; 
}
.foodnav > ul{
  display: flex;
  flex-wrap: wrap;
}

.foodnav > ul > li {
  width: 300px;
  height: 350px;
  display: block;
}
.foodnav > ul > li  .img{
  width: 100%;
  position: relative;
}

.img_bg {
  width: 100%;
  height: 270px;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: black;
  z-index: 99;
  background: rgba(255, 255, 255, 0.7);
  display: none
}
.foodnav > ul > li  .img:hover .img_bg{
  display: block;
 
}

.foodnav > ul > li img {
  display: block;
  margin: auto;
}
.foodnav > ul > li img:hover {
  background: rgba(0, 0, 0, 0.4);
}

.foodnav > ul > li p {
 margin: 15px;
 font-size: 20px;
}

.foodnav > ul > li p:hover {
  text-decoration:underline
}









/*푸터*/
#footer {
  width: 100%;
  height: 250px;
  margin: auto;
  background-color: #212121;
  font-size: 14px;
  text-align: center;
}
.fotLogoBox {
  margin: auto;
  padding-top: 20px;
}
.fotLogoBox .fot_sns {
  display: flex;
  height: 40px;
  justify-content: center;
  font-size: 30px;
  margin: 15px;
}
.fotLogoBox .fot_sns > li {
  margin: 0 15px;
  color: #f1f1f1;
}

#footer b {
  font-size: 16px;
  color: #f1f1f1;
}

.fotTxtbox {
  width: 1000px;
  margin: auto;
}
.fotTxtbox > ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.fotTxtbox > ul > li {
  padding: 0 10px;
  color: #888;
}
