/*폰트*/
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/*초기화*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*헤더*/

#header {
  width: 100%;
  margin: auto;
  background-color: #7f0c05;
}

#header > .header_area {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: inline-block;
  width: 180px;
}
#header .sns {
  display: flex;
}
.sns > li {
  margin-right: 20px;
}

.sns > li > a > i {
  color: #f1f1f1;
  font-size: 25px;
}

#header .qna {
  display: flex;
}

.qna > li {
  margin-left: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #f1f1f1;
}

/*네비*/

#nav {
  width: 100%;
  margin: auto;
  padding: 10px 0;
  font-weight: bold;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  position: relative;
  /*background-color: #d6a178; */
}

/*네비영역*/
.nav_area {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  position: relative;
}

/*로그인바*/
.login_nav > ul {
  display: flex;
}
.login_nav li {
  margin-left: 25px;
  font-size: 20px;
  color: #7f0c05;
}
.login_nav li:last-child {
  font-weight: normal;
  color: #7f0c05;
}

/*네비바*/
.navi {
  max-width: 1020px;
}
.gnb {
  display: flex;
  text-align: center;
  position: relative;
  font-size: 16px;
}
.gnb > li {
  width: 170px;
  line-height: 25px;
  color: darkred;
  text-align: center;
}
.gnb > li > .sub > li:hover {
  color: #bb3030;
}
.gnb > li:nth-child(1) {
  letter-spacing: -1px;
  color: red;
}
.month_cake > li > a > img {
  margin-top: 13px;
}
.gnb > li:nth-child(3) {
  letter-spacing: -2px;
}
.gnb > li:nth-child(3) > .sub {
  letter-spacing: 0;
}
.gnb a {
  display: block;
}
.sub {
  width: 160px;
  position: absolute;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
  z-index: 99;
  transition: opacity 1s;
}
.sub .month {
  text-align: center;
}
.sub > li {
  margin-top: 14px;
}
.sub a {
  display: block;
  font-size: 16px;
  color: none;
  text-align: center;
}
/*서브바 배경*/
#nav > .naviBar_bg {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0;
  top: 45px;
  background-color: #fff;
  display: none;
  z-index: 98;
  border: 1px solid #111;
  border-top: none;
  opacity: 0.7;
}

/*컨텐츠1*/

.contents1 {
  width: 1900px;
  margin: auto;
  display: flex;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.banner {
  display: flex;
  margin-left: -400px;
  position: relative;
}

.dot {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot > li {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: width 1s;
}

.dot > li:nth-child(2) {
  margin: 0 25px 0;
}

.dot > li.on {
  background-color: #111;
  width: 30px;
}

/*컨텐츠2*/

#contents2 {
  width: 1200px;
  height: 600px;
  margin: auto;
  margin-bottom: 100px;
}
.hans {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}
/*왼쪽 메뉴란*/
.left_Menu {
  width: 270px;
  height: 100%;
  text-align: center;
  padding-top: 150px;
  background-color: #7f0c05;
}

.left_Menu b {
  font-size: 25px;
  color: #fff;
}

.hansMenu {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.hansMenu > li {
  line-height: 50px;
  cursor: pointer;
}

.hansMenu > li:hover {
  color: bisque;
}

.hansMenu > li.on {
  background-color: bisque;
  color: #7f0c05;
}

/*오른쪽 메뉴란*/

.right_Menu {
  width: 970px;
  height: 100%;
  margin: auto;
  position: relative;
}

.right_Menu > div {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.MenuBox {
  display: flex;
  flex-wrap: wrap;
}

.right_Menu > div.on {
  visibility: visible;
  opacity: 1;
}

/*박스 공통사항*/
.box {
  width: 300px;
  height: 295px;
  position: relative;
  text-align: center;
  margin-left: 10px;
}

.box:nth-child(1) {
  margin-bottom: 10px;
}
.box:nth-child(2) {
  margin-bottom: 10px;
}
.box:nth-child(3) {
  margin-bottom: 10px;
}
.box:hover .box2 {
  opacity: 1;
}

.box2 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.5s;
}
.box2 > .boxTxt {
  margin-top: 100px;
  font-size: 24px;
}

.more {
  width: 100px;
  margin-top: 50px;
  display: inline-block;
  background-color: #7f0c05;
  color: #fff;
  border-radius: 5px;
  height: 40px;
}

.more > a {
  display: block;
  transition: all 0.3s;
  line-height: 40px;
  font-size: 16px;
  font-family: "Noto Sans KR";
}

.more > a:hover {
  transform: scale(1.1);
}

/*컨텐츠3*/
#content3 {
  width: 100%;
  margin: auto;
  background-color: #7f0c05;
}

.con3wrap {
  width: 1200px;
  height: 1318px;
  margin: auto;
  display: flex;
  margin-bottom: 100px;
}

/*왼쪽 박스*/
.con3wrap > .con3Left {
  width: 600px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.con3Left > .Lbox1 {
  width: 600px;
  height: 242px;
  background: url(../img/con3bg2.jpg) no-repeat center / cover;
  position: relative;
}
.Lbox1::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}
.Lbox1 b {
  color: #f16e6e;
  font-family: "Cookie";
  font-size: 74px;
}
.Lbox1 > p {
  font-size: 16px;
  text-align: center;
  padding-top: 80px;
  color: #fff;
  position: relative;
  z-index: 1;
}
.con3Left > .Lbox2 {
  width: 300px;
  height: 476px;
  background: url(../img/con3img1.png);
}

.con3Left > .Lbox3 {
  width: 300px;
  height: 476px;
  background: url(../img/con3img2.png);
}

.con3Left > .Lbox4 {
  width: 600px;
  height: 600px;
  background: url(../img/con3img3.png);
}
/*오른쪽 박스*/
.con3wrap > .con3Right {
  width: 600px;
  height: 100%;
  background-color: beige;
}

.con3Right > .Rbox1 {
  width: 600px;
  height: 618px;
  background: url(../img/con3img4.png);
}

.con3Right > .Rbox2 {
  width: 600px;
  height: 700px;
  background: url(../img/con3img5.png);
}

/*컨텐츠4*/

#contents4 {
  width: 1200px;
  height: 580px;
  margin: auto;
  display: flex;
  margin-bottom: 100px;
}
/*왼쪽박스*/
.con4_left {
  width: 690px;
  height: 580px;
  background: url(../img/con4img1.jpg) center;
  position: relative;
}

.con4_left > form {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%);
}
.con4_left > form > label {
  float: left;
}
.con4_left input[type="text"] {
  width: 200px;
  height: 32px;
  text-indent: 5px;
  padding: 5px;
  font-family: "나눔 고딕";
}

/*오른쪽 박스*/
.con4_right {
  margin-left: 10px;
}
.con4_right img {
  display: block;
  height: 285px;
}
.con4_right img:first-child {
  margin-bottom: 10px;
}

/*푸터*/
#footer {
  width: 100%;
  height: 250px;
  margin: auto;
  background-color: #212121;
  font-size: 14px;
  text-align: center;
}
.fotLogoBox {
  margin: auto;
  padding-top: 20px;
}
.fotLogoBox .fot_sns {
  display: flex;
  height: 40px;
  justify-content: center;
  font-size: 30px;
  margin: 15px;
}
.fotLogoBox .fot_sns > li {
  margin: 0 15px;
  color: #f1f1f1;
}

#footer b {
  font-size: 16px;
  color: #f1f1f1;
}

.fotTxtbox {
  width: 1000px;
  margin: auto;
}
.fotTxtbox > ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.fotTxtbox > ul > li {
  padding: 0 10px;
  color: #888;
}
